@import "../variable";

.header-component {
  margin-right: 3.2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;

  &__searchBar {
    text-align: left;
    color: $color--header-text;
    
    .search-bar {
      width: 500px;
    }
  }

  .bell {
    position: relative;
    width: fit-content;
    margin: 0 1rem;
  }
  .avatar {

    .avatar-img {
      position: static;
      width: 48px;
      height: 48px;
      left: 96px;
      top: 0px;
      border-radius: 30px;
    }
  }
}
