@import "../variable";


.all-page-component {
  display: flex;
  height: 100%;
  flex-direction: row;
  background-color: $color-background-layout !important;
}

.ant-menu-layout {
  color: $color--main-text !important;
  background: $color-background-layout !important;
}
.logo-header {
  width: 22.4rem;
  object-fit: contain;
  height: fit-content;
  margin-top: 2.4rem;
  margin-left: 6.5rem;
}


.right-page-component {
  width: 100%;
  overflow-y: auto;
  z-index: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-component {
  position: absolute;
  top: 85px;
  left: 321px;
  width: 1567px;
  height: 963px;
  background: $color__white;
  border-radius: 24px;
}

