@import "../variable";
@import "../mixin";
@import "./header.scss";

$size-img: 10rem;
$padding-inside: 1rem;


@mixin logo {
  width: 70%;
  min-width: $size-img;
}


.sider-component {
  display: flex;
  width: 4rem;
  align-content: center;
  align-items: center;
  transition: width 0.2s linear;
  overflow: hidden;
  cursor: pointer;
  background-color: $color-sidebar;
  border-radius: 16px;

  &>.w-100 {
    background-color: $color-sidebar;
    height: 100vh;
    border-radius: 16px;
    position: fixed;
    top: 0;
  }

  // &:hover{
  //   width: 14vw;
  // }

  .logo {
    text-align: center;

    img {
      margin: 4rem auto 8rem auto;
      @include logo();
    }
  }

  .icon {
    z-index: 1;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100vh;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    svg {
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  .mask {
    overflow: hidden;
    left: 0%;
    height: 100%;
    background-color: $color-sidebar;
    transition: opacity 0.2s linear;
    opacity: 0;
  }
}




