@import "../variable";
@import "../mixin";
@import "./header.scss";

$size-img: 10rem;
$padding-inside: 1rem;


@mixin logo {
  width: 100%;
  min-width: $size-img;
}

.sider-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  position: absolute;
  top: 17px;
  left: 33px;
  width: 252px;
  height: 572px;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 133px;
    height: 58px;

    img {
      margin: 4rem auto 8rem auto;
      @include logo();
    }
  }

  .mask {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 252px;
    height: 289px;
    left: 0px;
    top: 117px;

    .menu--component--item {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 252px;
      height: 56px;
      padding: 15px 16px 15px 24px;
      z-index: 69;

      .item-label {
        display: flex;
        flex-direction: row;
        align-items: center;

        .item__nav {
          position: absolute;
          left: 60px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          color: $color--main-text;
          letter-spacing: 0.015em;
          opacity: 0.7;
          /* Inside auto layout */
          flex: none;
          order: 1;
          flex-grow: 0;
          margin: 0px 12px;
        }

        .item-hover__icon {
          position: absolute;
          left: 27px;
          color: $color--main-text;
          font-size: 20px;
          margin-bottom: 10px;
        }
      }

      &:hover {
        opacity: 0.7;
      }
    }

    .menu--component--item.menu-active {
      background-color: $color-background-active;
      border-radius: 8px;
      
      .item-label {
        .item__nav {
          color: $color__white;
        }
          
        .item-hover__icon {
          color: $color__white;
          svg path {
            stroke: $color__white;
          }
        }
      }
    }
  }
}




