.ant-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 40px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #A5A8B1;
    margin-right: 9px;
}