.main-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* Blue 7 */
    color: $color--main-title;
    margin: 0;
  }
  
.secondary-title {
    color: $color--main-title;
    font-weight: $font-weight-bold;
    line-height: 30px;
    font-size: 24px;
    display: flex;
    align-items: center;

}