.main-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* Blue 7 */
    color: $color--main-title;
    margin: 0;
  }
  
.secondary-title {
    font-size: $fs-5;
    color: white;
    font-weight: $font-weight-bold;
    margin-top: 1rem;
}